@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
// FONTS **************************

$primary-font: 'Montserrat', sans-serif;
$primary-text-size: 14px;
$primary-h1-size: 27px;
$primary-h2-size: 23px;
$primary-h3-size: 18px;

// COLORS **************************

$background-color: #fff;
$primary-text-color: #343434;

// NIGHT SETTINGS

$night-menu-color: #2F3136;
$night-background-color: #36393F;
$night-text-color: #fff;
